<html>
 <head>
  <link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 crossorigin="anonymous">
  </head>
  <body>
    <div class="container" style="padding:20px">
     <div class="card card-body bg-light">    
      <h1>{{pageTitle}}</h1>
     </div>
     <div>
     <br />
     <form action="/submitPnr" method="post">
      <div class="form-group">
        <label for="mapCoordinates">Ange personnummer:</label>
        <input type="text" class="form-control" id="personalNumber" name="personalNumber" placeholder="ex: 199901015555" />
      </div>

      <button type="submit" class="btn btn-primary">Skicka ärende</button>
     </form>      
    </div>
  </div>
 </body>
</html>